@page "/login"

<div class="d-flex justify-content-center w-100" style="padding-top: 100px">
    <div class="rounded bg-white py-4 px-4" style="width: 400px;">
        <h4 class="text-center font-weight-bold mb-4">Login</h4>
        <div>
            <form>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 40px;"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control text-left" type="text" placeholder="Username">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 40px;"><i class="fas fa-key"></i></span>
                    </div>
                    <input class="form-control text-left" type="password" placeholder="Password">
                </div>
            </form>
            <button class="btn btn-primary rounded-pill font-weight-bold w-100 mb-3">Login</button>
            <a href="/login">
                <button class="btn btn-outline-primary rounded-pill font-weight-bold w-100">Already have an
                    account</button>
            </a>
        </div>
    </div>
</div>