@page "/login"

<div class="d-flex justify-content-center w-100 px-2" style="padding-top: 100px">
    <div class="card bg-white py-4 px-4" style="width: 400px;">
        <h4 class="text-center font-weight-bold mb-4">Login</h4>
        <div>
            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 40px;"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control text-left" type="text" placeholder="Username" @bind="@Username">
                </div>
                <div class="text-danger mb-3">@UsernameAlertContent</div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 40px;"><i class="fas fa-key"></i></span>
                    </div>
                    <input class="form-control text-left" type="password" placeholder="Password" @bind="@Password">
                </div>
                <div class="text-danger mb-3">@PasswordAlertContent</div>
            </form>
            <button class="btn btn-primary rounded-pill font-weight-bold w-100 mb-3"
                @onclick="OnLoginButtonClickMethod">Login</button>
            <a href="/signup">
                <button class="btn btn-outline-primary rounded-pill font-weight-bold w-100">Create an account</button>
            </a>
        </div>
    </div>
</div>