.user-profile-container {
  background-color: #f7efe8;
  height: 100vh;
  width: 100%;
  padding-top: 16px;
}

.user-profile-header {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #30475e;
  margin-bottom: 48px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-profile-header-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
}

.user-profile-image-container {
  position: relative;
  height: fit-content;
  width: fit-content;
  background-color: white;
  transform: translate(0px, 48px);
  border-radius: 50%;
}

.user-profile-image-container-image {
  position: relative;
  height: 200px;
  width: 200px;
  box-shadow: gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.user-profile-image-container-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.user-profile-image-container:hover .user-profile-image-container-image {
  opacity: 0.5;
}

.user-profile-image-container:hover .user-profile-image-container-text {
  opacity: 1;
}

.user-profile-info-container {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.user-profile-info-container > h3 {
  height: fit-content;
  width: fit-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin: 0px;
}

.user-profile-info-container-details {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 8px;
}

.user-profile-info-container-details-column {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px;
  padding: 0px;
}

.user-profile-info-container-details-border {
  width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 1px;
}

.user-profile-info-container-details-number {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.user-profile-info-container-details-text {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.user-profile-info-container > p {
  height: fit-content;
  width: fit-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  color: white;
  margin: 0px;
}

.user-profile-info-container > button {
  position: relative;
  height: fit-content;
  width: fit-content;
  font-weight: 600;
  border-width: 2px;
  font-size: 16px;
  margin-top: 8px;
}

@media only screen and (max-width: 576px) {
  .user-profile-header {
    padding-top: 32px;
    height: fit-content;
    margin-bottom: 16px;
  }
  .user-profile-header-container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .user-profile-info-container {
    width: 100%;
    align-items: center;
  }

  .user-profile-image-container {
    position: relative;
    transform: translate(0px, 0px);
    margin-bottom: 16px;
  }
  .user-profile-image-container-image {
    width: 150px;
    height: 150px;
    background: #fff;
  }

  .user-profile-info-container {
    margin-left: 0px;
  }

  .user-profile-info-container > p {
    margin-top: 8px;
  }
  .user-profile-info-container-details {
    position: relative;
  }

  .user-profile-info-container > button {
    position: relative;
    right: 0;
    width: 100%;
    margin-top: 8px;
    font-size: 16px;
    margin-left: 0;
  }
}
