.Event-Cards {
  margin-top: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;
  padding: 3rem;
  background-color: rgb(240, 240, 240);
}

.TopContainer {
  width: 100%;
  height: 250%;
}

.one {
  width: 30%;
  float: left;
}

.two {
  margin-left: 35%;
}

.two,
h1 {
  font-size: 3vw;
  margin-bottom: 0.5rem;
}

.two,
h2 {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.two,
h3 {
  font-size: 1vw;
}

.Join-btn {
  float: right;
}

.Avatars {
  float: left;
}

.Avatar1 {
  margin-left: -0.5rem;
}

.Avatar2 {
  margin-left: -0.75rem;
}

.Mem-user {
  margin-left: 1rem;
}

.Mem-name {
  margin-left: 1rem;
  opacity: 0.5;
}

.Mem-card {
  margin-bottom: 0.75rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px #888888;
}

.Mem-avatar {
  float: left;
}
