.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.filter-container {
  width: 300px;
  height: 100%;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

.filter-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter-content > .btn-group > button {
  font-size: 16px;
  font-weight: 600;
}

.result-container {
  width: 70%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
